<!--side navigation bar-->
<div>
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Trending Events</a></li>
  <li><a ui-sref="volenteers">Trending volenteers</a></li>
  <li><a href="#">Trending NGOs</a></li>
  <!--<li><a href="#">Search Events</a></li>-->
    <li class="divider"></li>
  <li><a ui-sref="initiateEvent">Initiate Events</a></li>
  <li><a href="#">Fund Events</a></li>
  <li><a href="#">join Events</a></li>
</ul>
</div>