<div>
<form class="form-horizontal container" role="form">
    <div class="page-header col-lg-6">
        <h2>Sign Up</h2>
    </div>
<fieldset class="container">
    <div class="form-group row">
        <label for="Role" class="col-lg-2 control-label">As A</label>
        <div class="col-lg-4">
            <select name="Role" id="Role" ng-model="role" class="form-control">
                <option>NGO </option>
                <option>Organization</option>
                <option>Volunteer</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="FullName" class="col-lg-2 control-label">Full Name</label>
        <div class="col-lg-4">
            <input type="text" id="FullName" name="FullName" ng-model="fullName" class="form-control" placeholder="FullName" required=""/>
        </div>
    </div>

    <div class="form-group">
        <label for="Password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-4">
            <input type="password" id="Password" name="Password" ng-model="pass" class="form-control" placeholder="Password" required="" />
        </div>
    </div>


    <div class="form-group">
        <label for="CPassword" class="col-lg-2 control-label">Confirm Password</label>
        <div class="col-lg-4">
            <input type="password" id="CPassword" name="CPassword" ng-model="cpass" class="form-control" placeholder="Confirm Password" required="" />
        </div>
    </div>

    <div class="form-group">
    <label for="Email" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-4">
        <input type="email" id="Email" name="Email" ng-model="email" class="form-control" placeholder="abc@ex.com" required="" />
    </div>
    </div>

    <div class="form-group">
        <label for="PhoneNumber" class="col-lg-2 control-label">Phone Number</label>
        <div class="col-lg-4">
            <input type="text" id="PhoneNumber" name="PhoneNumber" ng-model="ph" class="form-control" placeholder="Phone Number" required="" />
        </div>
    </div>

    </fieldset>
    <div class="page-footer col-lg-8">
    <input type="submit" class="btn btn-primary col-lg-offset-3" value="Submit" ng-click="signup()"/>
    </div>
</form>
    <br>
</div>